.header {
    height: 110px;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #466995;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.banner {
    background-image: url("/Users/seandada/Documents/Twentys Plenty /Twentys Plenty.jpg");
    border: 3px solid coral;
    padding: 900px;
    opacity: 0.5;
}
